<launch>

  <node name="pcl_pc_to_mesh_no_removal" pkg="heat_ros" type="pcl_pc_to_mesh_no_removal" output="screen" respawn="false" >
    <!--param name="filepath" value="/home/cwolfe/heat_method_ws/src/Part Meshes/C130Blade.PLY" /-->
    <!--param name="filepath" value="/home/cwolfe/heat_method_ws/src/Part Meshes/shiny_side1_bottom.ply" /-->
    <!--param name="filepath" value="/home/cwolfe/heat_method_ws/src/Part Meshes/cloud_traclabs.ply" /-->
    <!--param name="filepath" value="/home/cwolfe/heat_method_ws/src/Part Meshes/planar_cloud.ply" /-->
    <param name="filepath" value="/home/cwolfe/heat_method_ws/src/Part Meshes/clouds_to_convert/planar_cloud_69x188.ply" />
    <param name="rows" value="69" />
    <param name="cols" value="188" />
  </node>

</launch>
